<%= form_with(model: trip_plan, local: true) do |form| %>
  <% if trip_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip_plan.errors.count, "error") %> prohibited this trip_plan from being saved:</h2>

      <ul>
      <% trip_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
